/*
//
// Designkit-*
// --------------------------------------------------
*/
.state {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #57626C;
  border-radius: 3px;
}

.state-success {
  background-color: #80C11A;
}

.state-failed {
  background-color: #C32525;
}
